body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,blockquote,th,td{
	margin:0;
	padding:0;
	font: 12px 'microsoft yahei',Simhei,Arial, Helvetica, sans-serif;
}

ol,ul,li{
	list-style:none;
}

a{
	text-decoration: none;
	display:block;
}

img{
	border:none;
	display:block;
}
/**:visited{
	color:#666;
}
*:hover{
	color:#666;
}*/
::-webkit-input-placeholder { /* WebKit browsers */
    color:#537a99;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #537a99;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #537a99;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #537a99;
} 
body{
	background: url(../imgs/bg.png ) no-repeat;
}
.main{
    position: relative;
	min-height: 100%;
	white-space: nowrap;
}
.login{
	width:360px;
	margin:0 auto;
	/*border: 1px solid #ccc;*/
}
.logo{
	width:80px;
	height:80px;
	margin:0 auto;
	padding-top:100px;
}
.login h2{
	font-size: 28px;
	font-weight: bold;
	line-height: 28px;
	margin:20px auto;
	text-align: center;
	cursor: default;
}
.name-pwd-btn{
	width:100%;
	position: relative;
}
.name-pwd input{
    width:300px;
    height:50px;
    border:none;
    display:table;
    margin:40px auto;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 300;
    background-color:#fff;
    padding-left:50px;
    line-height: 50px;
}

.name-div{
	position: relative;
}
.name-img{
	width:25px;
	height: 25px;
	position: absolute;
	top:12px;
	left:15px;
}
.pwd-div{
	position: relative;
}
.pwd-img{
	width:25px;
	height: 25px;
	position: absolute;
	top:12px;
	left:15px;
}
.remember-forget-pwd{
	width:350px;
	margin:0 auto;
	position: relative;
	font-size:16px;
	line-height:16px;
	color:#fff;
	font-weight:500;
}
.remember-pwd-img{
	cursor: pointer;
}
#remember-pwd{
	float:left;
	width:16px;
	height:16px;
}
#remember-pwd2{
	float:left;
	width:16px;
	height:16px;
}
.forget-pwd{
	position: relative;
	float:right;
	top:-16px;
	text-decoration:underline;
}
.forget-pwd:hover{
	position: relative;
	float:right;
	top:-16px;
	text-decoration:underline;
	color:#fff;
}
.forget-pwd:visited{
	position: relative;
	float:right;
	top:-16px;
	text-decoration:underline;
	color:#fff;
}
.btn{
	width:300px;
	height: 40px;
	border:none;
	background: #7EB7EC;
	-moz-border-radius: 15px;  
    -webkit-border-radius: 15px;  
     border-radius: 15px; 
     margin:30px 40px 20px 30px; 
     font-size: 18px;
     color:#fff;
     font-weight: bold;
     letter-spacing: 1em;
     cursor: pointer;
     box-shadow: none;
     line-height: 40px;
      text-indent: 1em;
}
.btn:hover{
	width:300px;
	height: 40px;
	border:none;
	background: #7EB7EC;
	-moz-border-radius: 15px;  
    -webkit-border-radius: 15px;  
     border-radius: 15px; 
     margin:30px 40px 20px 30px; 
     font-size: 18px;
     color:#fff;
     font-weight: bold;
     text-indent: 1em;
     letter-spacing: 1em;
     cursor: pointer;
     box-shadow: none;
     line-height: 40px;
     opacity: 0.8;/*鼠标经过略微变色*/
}